body {
padding: 0;
margin: 0;
font-family: "Roboto", Arial, sans-serif;
font-size: 14px;
line-height: 1.38;
font-weight: 400;
color: #ffffff;
background-color: #859e90;
}

.visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

.button {
width: 129px;
height: 44px;
border-width: 2px 0;
border-style: solid none;
border-color: #f26843 #000 #e74a35;
border-radius: 6px;
background: linear-gradient(#f26843, #e74a35) #e74a35;
transition: 0.2s;
color: #ffffff;

}

.button:hover { 
background: #f26843  
}
.button:active { 
background: linear-gradient(#e74a35, #f26843) #f26843; 
}

.main-navigation {
font-size: 16px;
line-height: 1.13;
color: #ffffff;
}

.site-navigation,
.user-navigation,
.site-sections,
.social-list,
.info ul {
list-style: none;
}

.site-navigation a,
.user-navigation a,
.site-sections a,
.social-list a,
.info ul a,
.footer-copyright a,
.branch-line a,
.products a {
color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.social-list a:hover,
.social-list a:focus,
.info ul a:hover,
.info ul a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus,
.branch-line a:hover,
.branch-line a:focus, 
.products a:hover,
.products a:focus {
color: #ffbc9e;
}

.advantages h3 {
font-size: 24px;
font-weight: 500;
line-height: 1.25;
color: #323232;
}

.advantages li {
color: #323232;
list-style: none;
}

.feature-item {
background-image: url("/img/background-123-clip.png");
background-repeat: repeat;
border-radius: 10px
}

.news {
height: 220px;
width: 560px;
background-color: #ffffff;
background-image: url("img/background-news.png");
background-position: 0 0;
background-repeat: no-repeat;
border-radius: 10px;
}

.news h3 {
font-size: 16px;
font-weight: 500;
color: #323232;
}

.news .laying a{
color: #323232;
line-height: 1.25;
font-size: 24px;
}

.notification-background { 
position: relative;
width: 560px;
height: 220px;
border-radius: 10px;
background-image: url("img/backround-notification.svg");
}

.notification {
top: 4px;
left: 6px;
position: absolute;
width: 549px;
height: 211px;
border-radius: 10px;
background-color: #f8f7f4;

}

.notification p{
position: absolute;
font-size: 16px;
color: #5a5a5a;
}

.entry-field input:first-child {
width: 368px;
height: 44px;
border-radius: 5px;
border: solid 1px #d8d8d6;
}

.social-list li {
font-size: 0px;
}

.login-link,
.basket {
font-weight: 500;
line-height: 1.14;
}

.tel-number {
font-size: 22px;
line-height: 0.9;
font-weight: bold;
text-align: right;
}

.info ul {
font-size: 13px;
line-height: 1.38;
}

.info ul li:first-child {
font-size: 13px;
font-weight: bold;
line-height: 1.38;
}

.footer-copyright {
font-size: 12px;
color: #fefefe;

}

.search-button {
margin-top:5px;
display: flex;
width:33px;
height: 33px;
border-radius: 50%;
background-color: #9db1a6;
background-image: url("/img/magnifier.svg");
background-repeat: no-repeat;
background-position: center;

}

.login-button {
margin-top:5px;
display: flex;
width:93px;
height:32px;
border-radius: 20px;
background-color: #9db1a6;
background-image: url("/img/enter.svg");
background-repeat: no-repeat;
background-position: bottom 7px left 16px;
justify-content: center;
align-items:center;
padding-left:15px;
}

.basket-button {
margin-top:5px;
display: flex;
width:100px;
height:32px;
border-radius: 20px;
background-color: #9db1a6;
background-image: url("/img/basket.svg");
background-repeat: no-repeat;
background-position: bottom 7px left 16px;
justify-content: center;
align-items:center;
padding-left:15px;

}

/*Флексим*/

.main-header {
padding-top: 9px;
min-height: 150px;
}

.main-navigation {
flex-direction: column;
max-width:1145px;
display: flex;
margin-left: auto;
margin-right: auto;
}

.main-header-logo {
height:64px;
width:154px;
}

.site-navigation {
width: 420px;
margin: 0;
padding: 0;
min-height: 74px;

}

.user-navigation {
display:flex;
flex-direction: column;
width: 270px;
margin:0px;
padding: 0px;
min-height: 74px;
align-items: flex-end;

}

.contacts {   
display: flex;
width: 200px;
min-height: 60px;
align-self: flex-end;
justify-content: flex-end;

}

.main-navigation-wrapper {
min-height: 150px;
width: 100%;
min-height:74px;
margin-bottom: 10px;
padding: 0;
display:flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;

}

.feature-item {
display: flex;
min-height: 305px;
width:100%;
margin-bottom: 40px;

}

.main-footer {
min-height: 100px;
margin-top: 10px;

}


.footer-social {
display: flex;
margin: 0;
min-height: 60px;
width:200px;

}

.info {
display:flex;
flex-direction: column;
min-height: 60px;
width:260px;

}

.footer-copyright {
display:flex;
min-height: 80px;
width: 210px;
}

.container {
display:flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
max-width: 1160px;
}

.ice-cream-catalog {
margin-bottom: 40px;
}

.catalog-item {
position: relative;
z-index: 1;
display: inline-block;
width: 267px;
margin-bottom: 39px;
margin-right: 26px;
font-size: 16px;
line-height: 22px;
text-align: center;
vertical-align: top
}

.catalog-item:nth-child(4n) {
margin-right: 0px;
}

.price {
font-size: 45px;
font-weight: bold;
line-height: 1;
}